@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

* {
  font-family: "Open sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}